.cabeçalho {
    background-color: #4F4F4F;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 10px; /* Move o header para cima */
    border-radius: 15px; /* Arredonda as bordas do header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar destaque */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px; /* Tamanho da logo */
}

.titulo h1 {
    margin-left: 1px; /* Aproxima o título da logo */
    color: white;
    font-size: 24px;
    font-family: 'Arial', sans-serif; /* Fonte padrão */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: black;
    font-size: 28px;
    margin-bottom: 20px;
}

h3 {
    color: black;
    font-size: 22px;
    margin-top: 20px;
}

h4 {
    color: black;
    font-size: 22px;
    margin-top: 20px;
}


h5 {
    color: green;
    font-size: 22px;
    margin-top: 20px;
    display: flex;
    justify-content:first baseline;
    align-items:first baseline;
}


ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

ul li {
    margin-bottom: 10px;
}

.rodape {
    background-color: #4F4F4F;
    height: 200px; /* Aumentei a altura para acomodar os botões */
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza os botões horizontalmente no rodapé */
    padding: 0 20px;
    position: relative; /* Garante que o rodapé contenha o conteúdo */
    border-radius: 15px; /* Arredonda as bordas do header */
 }
 
 .container {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 20px; /* Espaçamento entre os botões */
    flex-wrap: wrap; /* Permite que os botões quebrem para uma nova linha, se necessário */
    width: 50%; /* Garante que o contêiner ocupe toda a largura */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
    margin-top: 0; /* Remova o margin-top negativo */
    position: relative;
 }
 
 .button {
    flex: 1 1 300px; /* Define uma largura fixa de 300px e permite que os botões encolham, se necessário */
    padding: 20px;
    background-color: #282828;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    text-align: center;
 }
 
 .button span {
    font-size: 20px;
    position: relative;
 }
 
 .button::before {
    content: '';
    background-color: #45a049;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width .8s, height .8s;
    z-index: 0;
 }
 
 .button:hover::before {
    width: 1000px;
    height: 1000px;
 } 
